body{
    margin: 0 auto;
    min-width: 1000px;
}

.head{
    
    display: flex;
    justify-content: space-around;
    height: 80px;
    font-size: 30px;
    padding-left: 20px;
}
.sh{
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}
.input{
    padding-top: 20px;
    margin-left: 220px;
}
.input-group{
    font-size: 20px;
}
.btn{
    color: black;
    margin-top: 20px;
    background-color: white;
}
.carousel-inner img {
     width: 1440px;
     height: 900px;
  }
.carousel-item{
    height: 900px;
}
.carousel{
     height: 900px;
}
h3{
    background-color: white;
    color: black;
}